/* CSS Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/berlinbackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.img {
  width: 9vh;
  padding-left: 20px;
}
/* Pre Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(19, 162, 167);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear {
  animation: vanish 3s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* End of preloader */

html {
  font-size: 62.5;
  scroll-behavior: smooth;

  /* We should decide for a font */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}
.navbar {
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/*Desktop Navigation Style*/

ul.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin: 1rem;
  margin-right: 5rem;
}
.nav-link {
  border-radius: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 1s all;
  font: 1.6rem;
  font-weight: 600;
  color: rgb(19, 162, 167);
}
.nav-link:hover {
  transform: translateY(-5px);
  color: rgb(8, 8, 8);
}
.nav-link:hover:before {
  opacity: 1;
  transform: translateY(5px);
}
.nav-link:before {
  content: "";
  top: 105%;
  left: -1%;
  height: 120px;
  width: 150px;
  opacity: 0;
  background: #e85a4f;
  transition: 1s all;
  transition-delay: 0.1;
  background: radial-gradient
    (ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
}
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}
/* Navigation Bar Transition from Desktop to Mobile*/

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-left: 50px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* How well do you know Berlin message */

h1 {
  font-size: clamp(3rem, 1vw, 10rem);
  text-align: center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

/* End How well do you know Berlin message */

/* Let's Go! button */

div,
.button-start {
  display: flex;
  justify-content: center;
}

.button-start {
  background-color: rgb(55, 53, 53);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-family: "Lucida Sans";
  margin: 4px 2px;
  cursor: pointer;
}

/* End Let's Go! button */

/* First paragraph */

.quiz > p {
  color: whitesmoke;
  font-family: "Trebuchet MS";
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 4rem;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* End First paragraph */

/* Cards with radiobuttons */

#quiz-wraper {
  display: flex;
  justify-content: center;
}

.main-container {
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 30%;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("https://cdn.pixabay.com/photo/2012/06/25/15/41/berlin-wall-50730_960_720.jpg 1x, https://cdn.pixabay.com/photo/2012/06/25/15/41/berlin-wall-50730_1280.jpg");
  height: 200px;
  width: 100%;
  margin-top: 100px;
}

.quiz-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(196, 240, 241);
  color: rgb(3, 0, 0);
  text-align: center;
  width: 100%;
  font-family: "Trebuchet MS";
}

ul.radiobuttons {
  position: relative;
  list-style-type: none;
  width: 100%;
  margin-top: 0px;
  background-color: rgb(12, 61, 80);
  border-radius: 0 0 10px 10px;
  color: white;
  font-family: "Trebuchet MS";
  cursor: pointer;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.radiobuttons li {
  width: 80%;
  font-size: 17px;
  font-family: "Trebuchet MS";
  margin: 10px 10px 10px 80px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* cursor: pointer; */
}

ul.radiobuttons li.radio label {
  cursor: pointer;
}

.quiz-btn {
  display: block;
  width: 75%;
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: rgb(39, 37, 37);
  text-align: center;
  width: 50%;
  margin-top: 10px;
  color: white;
  font-family: "Lucida Sans";
  font-size: 26px;
  cursor: pointer;
}
.quiz-btn:hover {
  box-shadow: 0 5px  rgb(196, 240, 241);
  transform: translateY(3px);
}

.radiobuttons h2 {
  font-family: 'Lucida Sans';
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}


@media screen and (min-width: 600px) {
  .main-container {
    max-width: 700px;
    font-size: x-large;
  }
  .card-img {
    height: 375px;
  }
  ul.radiobuttons li {
    font-size: 24px;
  }
  .quiz-btn {
    font-size: x-large;
    width: 58%;
  }
  .reloadbtn {
    font-size: x-large;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    max-width: 1000px;
    font-size: x-large;
  }
  .card-img {
    height: 400px;
  }
  ul.radiobuttons li {
    font-size: 26px;
  }
  .quiz-btn {
    font-size: 30px;
    width: 38%;
  }
  .reloadbtn {
    font-size: x-large;
  }
}

/* Style "About Us" Page */

.about-title {
  color: whitesmoke;
  position: absolute;
  justify-content: flex-start;
}

/* About us Title , Mobile position */

@media screen and (max-width: 768px) {
  .about-title {
    position: relative;
  }
}
.about-us {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-image: url(/assets/berlinbackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.box {
  position: relative;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px;
  background: rgb(60, 202, 207);
  transition: 1s;
}
.box:hover {
  height: 40px;
}
.box .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.box .imgBx img {
  max-width: 100%;
  opacity: 0.6;
  transform: 1s;
}
.box:hover .imgBx img {
  opacity: 0.1;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgb(78, 123, 132);
  filter: blur(60px);
}

.box .content {
  position: absolute;
  bottom: 0%;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(228, 216, 216, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}
.box:hover .content {
  opacity: 2;
}
.box .content h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

.box .content h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}
.box .content p {
  text-align: center;
  position: absolute;
  font-size: 25px;
  top: 105px;
  left: -5px;
  right: 1px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1px;
  color: whitesmoke;
}

